.btnB {
	width: 50vw;
	height: 4vh;
	/*background-color: #456;*/
	background-color: #159;
	color: #efc;
}
.btn1 {
	width: 50vw;
	height: 4vh;
	background-color: #456;
	color: #efc;
}
.left p {
	float: left;
}
.rangeCRGB {
	width: 50vw;
	height: 5vh;
}

