@font-face {
  font-family: 'Proxima Nova Light';
  src: url('./fonts/proxima-nova-light/proxima_nova_light.svg');
  src: url('./fonts/proxima-nova-light/proxima_nova_light.eot'); /* IE 9 Compatibility Mode */
  src: url('./fonts/proxima-nova-light/proxima_nova_light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('./fonts/proxima-nova-light/proxima_nova_light.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/proxima-nova-light/proxima_nova_light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('./fonts/proxima-nova-light/proxima_nova_light.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/proxima-nova-light/proxima_nova_light.svg#proxima_nova_light') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url('./fonts/proxima-nova-semibold/proxima_nova_semibold.eot'); /* IE 9 Compatibility Mode */
  src: url('./fonts/proxima-nova-semibold/proxima_nova_semibold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('./fonts/proxima-nova-semibold/proxima_nova_semibold.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/proxima-nova-semibold/proxima_nova_semibold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('./fonts/proxima-nova-semibold/proxima_nova_semibold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/proxima-nova-semibold/proxima_nova_semibold.svg#proxima_nova_semibold') format('svg'); /* Chrome < 4, Legacy iOS */
}

.logo {
  width: 100px;
  display: block;
  margin: 0 auto 30px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info p {
  text-align: center;
  margin-bottom: 30px;
  max-width: 220px;
}
.qr-code {
  margin: 20px 0 20px;
  width: 170px;
}
#button {
  display: none;
}
.button {
  display: block;
  width: 260px;
  text-align: center;
  padding: 12px 0;
  border: 1px solid rgb(244,98,233);
  background: rgba(0,0,0,0);
  color: #FFF;
}
p.android-info {
  max-width: 270px;
}

@media screen and (max-width: 374px) {
  main {
    font-size: 20px;
    padding: 50px 10px 0;
  }
  .logo {
    width: 100px;
    margin: 0 auto 20px;
  }
  .button {
    width: 220px;
  }
}


.locked-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.locked-screen p {
  max-width: 240px;
  text-align: center;
}
.locked-img {
  position: relative;
  margin-top: 30px;
  width: 320px;
  height: 200px;
}
.locked-img > img {
  position: absolute;
  width: 320px;
  height: 200px;
  animation-name: fade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 6s;
}
.lotus-6 {
  animation-delay: 0s;
}
.lotus-5 {
  animation-delay: 1s;
}
.lotus-4 {
  animation-delay: 2s;
}
.lotus-3 {
  animation-delay: 3s;
}
.lotus-2 {
  animation-delay: 4s;
}
.lotus-1 {
  animation-delay: 5s;
}
@keyframes fade {
  0% { opacity: 0; z-index: 100; }
  10% { opacity: 1; }
  90% { opacity: 1 }
  100% { opacity: 0; z-index: 0; }
}
.timer-wrapper {
  margin: 30px 0;
  position: relative;
  width: 220px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer-bg {
  width: 220px;
  height: 220px;
  position: absolute;
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
.locked-btn {
  display: block;
  width: 260px;
  text-align: center;
  padding: 12px 0;
  border: 1px solid rgb(244,98,233);
  font-size: 16px;
}

@media screen and (max-height: 800px) {
  .locked-img {
    margin-top: 10px;
  }
  .timer-wrapper {
    margin: 10px 0 0;
  }
  .timer-bg {
    width: 200px;
    height: 200px;
  }
}


@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

