* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Proxima Nova Light';
  color: #fff;
  font-size: 22px;
}
body {
  position: relative;
  padding-top: 10px;
  background: #000;
}
ul,ol {
  list-style-type: none;
}
@font-face {
  font-family: 'Proxima Nova Light';
  src: url('./assets/fonts/proxima-nova-light/proxima_nova_light.eot'); /* IE 9 Compatibility Mode */
  src: url('./assets/fonts/proxima-nova-light/proxima_nova_light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('./assets/fonts/proxima-nova-light/proxima_nova_light.woff2') format('woff2'), /* Super Modern Browsers */
    url('./assets/fonts/proxima-nova-light/proxima_nova_light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('./assets/fonts/proxima-nova-light/proxima_nova_light.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./assets/fonts/proxima-nova-light/proxima_nova_light.svg#proxima_nova_light') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url('./assets/fonts/proxima-nova-semibold/proxima_nova_semibold.eot'); /* IE 9 Compatibility Mode */
  src: url('./assets/fonts/proxima-nova-semibold/proxima_nova_semibold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('./assets/fonts/proxima-nova-semibold/proxima_nova_semibold.woff2') format('woff2'), /* Super Modern Browsers */
    url('./assets/fonts/proxima-nova-semibold/proxima_nova_semibold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('./assets/fonts/proxima-nova-semibold/proxima_nova_semibold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./assets/fonts/proxima-nova-semibold/proxima_nova_semibold.svg#proxima_nova_semibold') format('svg'); /* Chrome < 4, Legacy iOS */
}